@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/*********************************************************************************/
/* Boton		                                                                 */
/*********************************************************************************/
	.boton
	{
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		letter-spacing: 0.1em;
		line-height: 3vh;
		text-align: center;
		white-space: pre-wrap;
		background: #79e000;
		border-radius: 0.5em;
		font-weight: bold;
		text-transform: uppercase;
		/*font-family: 'Raleway', sans-serif;*/
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0);
		padding: 1.5vh 0em;
		color: white;
		position: relative;
		user-select: none;
		border: inherit;
	}

  .padreEmergente{
			background-color: #1515157d;
			display: none;
			position: absolute;
			z-index: 1;
			min-width: 100%;
			min-height: 200%;
			justify-content: center;
			align-items: center;
		}

.emergente{
	display: none;
}

  .emergenteActiva{
  	display: none;
  	border: black 2px solid;
  	animation-name: zoom;
  	animation-duration: 0.6s;
  	position: fixed;
  	z-index: 2;
  	min-width: 50vw;
  	max-width: 50vw;
  	max-height: 40vw;
		overflow: scroll;
  	background-color: #f7faf2f7;
  	align-self: auto;
  	top: 10%;
  }

tr{
	font-size: 0.8em;
	max-width: 90%;
	text-align: center;
	vertical-align: middle;
}

.container-noMargin{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

table ,th ,td,tr{
	border: 1px solid black !important;
}

table tr:first-child{
	background-color: #99BAAA;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.carousel {
  height: 200px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

#carouselColegio{
	padding-bottom:0.5em;
}
