@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/*********************************************************************************/
/* Boton		                                                                 */
/*********************************************************************************/
	.boton
	{
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		letter-spacing: 0.1em;
		line-height: 3vh;
		text-align: center;
		white-space: pre-wrap;
		background: #79e000;
		border-radius: 0.5em;
		font-weight: bold;
		text-transform: uppercase;
		/*font-family: 'Raleway', sans-serif;*/
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0);
		padding: 1.5vh 0em;
		color: white;
		position: relative;
		user-select: none;
		border: inherit;
	}

  .padreEmergente{
			background-color: #1515157d;
			display: none;
			position: absolute;
			z-index: 100;
			min-width: 100%;
			min-height: 200%;
			justify-content: center;
			align-items: center;
		}

.emergente{
	display: none;
}

  .emergenteActiva{
  	display: none;
  	border: black 2px solid;
  	animation-name: zoom;
  	animation-duration: 0.6s;
  	position: fixed;
  	z-index: 2;
  	min-width: 50vw;
  	max-width: 50vw;
  	max-height: 40vw;
		overflow: scroll;
  	background-color: #f7faf2f7;
  	align-self: auto;
  	top: 10%;
  }

tr{
	font-size: 0.8em;
	max-width: 90%;
	text-align: center;
	vertical-align: middle;
}

.container-noMargin{
	padding-left: 0 !important;
	padding-right: 0 !important;
}


table ,th ,td,tr{
/*	border: 1px solid black;*/
}

table tr:first-child{
	background-color: #99BAAA;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.carousel {
  height: 200px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

#carouselColegio{
	padding-bottom:0.5em;
}

.divNavbar{
	position: absolute;
	z-index: 10;
	right: 0;
	opacity: 0.8;
	width: auto !important;
}


.table-before-row{
	margin-bottom: 0;
}

.row-nav-menu{
	margin-top: 20px !important;
}

h3{
	margin: 0.5em;
}

#btnEmergente{
		margin-top: 0.5em;
}

.form-inline{
	margin-top: 0.5em;
	min-width:80%;
}

.form-inline input{
	box-sizing: border-box !important;
	min-width: 80% !important;
}

.div-btn-menu{
	position: absolute;
	z-index: 10;
	margin-left: 10px;
	top : 80%;
}

.div-btn-menu button{
	border:none;
	background-color: transparent;
	font-size: 10px;
}

.div-btn-menu .glyphicon{
	font-size: 2em !important;
}

.navbar-toggler{
	margin-left: auto;
}

#cuilPersona{

}

.imgNoticias{
	max-width: 150px !important;
}

.dataTables_filter {
  display: none;
}

.dataTables_length {
	display: none; /* oculta seleccinar la cant de reg x tabla */
}

.separadorPermisos{
	margin-top: 40px !important;
	border-top: 2px solid !important;
}

/*
.uper-top{
	margin-top: 14px !important;
}
/*/
/***********
NAV MENU list
/************/

@media (min-width: 1000px) {
	.boton-menu{
		display: none !important;
	}
	.nav-menu {
		display: block !important;
		position: relative !important;
		top: 4em;
		/* width: 2000px !important; */
	}
}

@media (max-width: 1000px) {
  .nav-menu {
    display: none;
    z-index: 10;
		max-width: 100% !important;
    /* width: 2000px !important; */
  }
	.nav-menu .list-group{
		width: 100%;
	}
	.boton-menu{
		display: inline;
	}
	.navbar-brand{
		font-size: 0.8em !important;
		left: auto;
	}
	.form-inline input{
		box-sizing: border-box !important;
		padding-left: 0 !important;
		padding-right: 5px !important;
		max-width: 75% !important;
	}
	.form-inline{
		margin-top: 0px !important;
	}
	.table-before-row{
		display: inline;
	}
	.col-sm-2{
		width: auto !important;
		max-width: 25% !important;
	}
	#btnEmergente{
		font-size: 0.8em;
		right: 14px !important;
	}
	.imgNoticias{
		max-width: 50px !important;
	}
}
